@import "../variables";

.deals-table {
  height: 540px;

  &__table {
    width: 100%;

    th {
      text-align: left;
      padding: $base ($base * 1.5);
      font-weight: 600;
    }

    td {
      padding: ($base / 2) ($base * 1.5);
      color: $dark-grey;
      font-weight: 400;
      font-size: $base * 1.2;
    }
  }
}