@import "../variables";

.ReactModal__Overlay {
  z-index: 1000;
}

.disclaimer-modal {
  p {
    padding: 0 ($base * 1.5);
    font-size: $base * 1.6;
    line-height: 1.2;
    margin-bottom: $base * 1.5;
    text-align: center;
  }

  &__button-wrapper {
    text-align: center;
    border-top: 1px solid $border;
    padding: $base ($base * 1.5);
  }

  &__ok {
    padding: ($base * 0.75) ($base * 1.5);
    background: $blue;
    border: 0;
    color: white;
    border-radius: 3px;
    font-size: $base * 1.2;
    text-align: right;
    cursor: pointer;

    &:hover {
      background: lighten($blue, 10%);
    }
  }
}