@import "../variables";

.globalnav--full-size {
  background: #fff;
  border-bottom: 1px solid #e8eef9;
  top: 0;
  left: 64px;
  right: 0;
  height: 64px;
  display: flex;
  justify-content: center;

  .globalnav--inner {
    max-width: 1200px;
    display: flex;
    height: 100%;
    flex: 1 1 100%;

    .globalnav--logo {
      img {
        height: 40px;
        width: 40px;
        margin-right: $base;
      }
      font-family: $logo-font;
      display: flex;
      flex: 1;
      justify-content: flex-start;
      align-items: center;
      text-align: center;
      height: 100%;
      margin-left: $base * 1.5;
      margin-right: $base;
      font-weight: normal;
      font-size: 28px;
      color: #333;
    }
  
    .globalnav--info-group {
      height: 100%;
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
    }
  
    .globalnav--info {
      font-size: .9em;
      display: flex;
      flex-direction: column;
      &:not(:first-child) {
        margin-left: $base * 2;
      }
  
      .label {
        text-transform: uppercase;
        color: #aaa;
        font-weight: bold;
        text-align: center;
        letter-spacing: 1px;
      }
  
      .name {
        padding-top: 6px;
        color: #333;
        text-align: center;
      }
    }
  
    .globalnav--links {
      height: 100%;
      display: flex;
      flex: 1;
      justify-content: flex-end;
      align-items: center;
      font-size: .9em;
      margin-right: $base * 8;
  
      .dropdown {
        font-weight: normal;
        color: gray;

        &:before {
          opacity: .5;
        }
  
        .dropdown__box {
          z-index: 1000;
          width: max-content;
          padding: 0;
  
          ul {
            list-style: none;
            margin: 0;
            padding: .5em 0;
  
            li {
              font-weight: normal;
              line-height: 1.4em;
              padding: .5em 1em;

              a, a:visited {
                color: gray;
              }

              &:hover {
                background-color: #3FC1CB;
                a, a:focus { color: #FFF; }
              }
            }
          }
        }
      }
    } // end .links
  }
}

@include smartphones() {
  .globalnav--full-size {
    display: none;
  }
}