@import "../variables";

.mining-summary {
  display: flex;
  align-items: center;
}

.mining-summary__left {
  width: 260px;
  padding: 0 ($base * 4);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mining-summary__right {
  flex: 1 1 100%;
  padding: ($base * 4) ($base * 4);
  border-left: 1px solid $border;
}

.mining-summary__main-stat {
  font-size: $base * 4;
  margin-bottom: $base;
}

.mining-summary__sub-stat {
  font-size: $base * 2;
  margin-bottom: $base;
}

.mining-summary__label {
  font-size: $base * 1.2;
  color: $grey;
}

@include smartphones() {
  .mining-summary {
    flex-wrap: wrap;
  }

  .mining-summary__left {
    width: 100%;
    border-bottom: 1px solid $border;
    padding-top: $base;
    padding-bottom: $base;
  }

  .mining-summary__right {
    width: 100%;
    border-left: 0;
  }
}