@import "../variables";

.node-map {
}

.node-map__header {
  border-bottom: 1px solid $border;
  padding: $base * 2;
  font-weight: 700;
}

.node-map__map {
  position: relative;
}

.node-map__overlay {
  position: absolute;
  z-index: 200;
  background: white;
  border-radius: 3px;
  box-shadow: 0 18px 40px rgba(1, 10, 59, 0.15);
  padding: $base;
  left: 50%;
  top: $base * 2;
  width: 130px;
  margin-left: -65px;
}

.node-map__node-count {
  color: #818E94;
  text-align: center;
  font-size: $base * 1.2;

  h1 {
    margin-top: 0;
    color: $black;
    margin-bottom: $base;
    font-weight: 700;
    font-size: $base * 3;
  }
}

.node-map__nick-tooltip {
  margin: 0;
  padding: 0;

  li {
    color: white;
    display: block;
    margin: 0;
    padding: $base / 2;
    padding-bottom: $base;
    border-bottom: 1px solid rgba(white, 0.25);
    white-space: nowrap;
    &:hover {
      color: #3FC1CB;
    }

    .copied {
      font-size: 0.65em;
      display: none;
      padding-top: 1px;
      margin-left: 4px;
      background-color: #333;
      text-align: right;
      color: yellow;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}