@import "../variables";

.table {
  &__title {
    display: flex;
  }

  &__search-download {
    background: $light-grey;
    padding: $base * 1.5;
    display: flex;
    align-items: center;
  }

  &__search input {
    border-radius: 2px;
    border: 0;
    font-size: $base * 1.2;
    padding: $base $base $base ($base * 2 + 16px);
    width: 500px;
    background: white url('/assets/search.svg') no-repeat $base center;
  }

  &__download {
    margin-left: $base * 2;
    color: #4F4F4F;
    font-size: $base * 1.2;

    img {
      margin-right: $base / 2;
      vertical-align: middle;
      position: relative;
      top: -2px;
    }
  }

  &__sort {
    display: flex;
    margin-left: $base * 2;
    font-size: $base * 1.2;
    color: #4F4F4F;

    .dropdown {
      margin-left: $base / 2;
      color: #4F4F4F;

      &:before {
        display: none;
      }
    }

    .dropdown__selected {
      font-weight: normal;
      padding-left: $base * 1.2;
      background: url('/assets/sort.svg') transparent no-repeat left center;
    }
  }

  &__pager {
    margin-left: auto;
    font-weight: normal;
    font-size: $base * 1.2;
    display: flex;
    align-items: center;
  }

  &__prev, &__next {
    background: url('/assets/chevron.svg') transparent no-repeat center center;
    background-size: contain;
    width: 12px;
    height: 12px;
    cursor: pointer;

    &--disabled {
      cursor: default;
      opacity: 0.5;
    }
  }

  &__prev {
    transform: rotate(90deg);
    margin-left: $base * 2;
  }

  &__next {
    transform: rotate(-90deg);
    margin-left: $base * 1.5;
  }
}

.table__table {
  width: 100%;
  padding-bottom: $base * 1.5;
}

.table__header {
  text-align: left;
  padding: $base ($base * 1.5);
  vertical-align: middle;
  font-weight: normal;
  color: #293134;
  font-size: 13px;
}

.table__cell {
  padding: $base 0 0 ($base * 1.5);
  font-size: 13px;
  color: #828282;
}

.table__body-row:last-of-type {
  .table__cell {
    border-bottom: 0;
  }
}

@include smartphones() {
  .table {
    &__search-download {
      flex-direction: column;

      input {
        width: 100%;
      }
    }

    &__download, &__pager, &__sort, &__search {
      width: 100%;
    }

    &__search {
      margin-bottom: $base;
    }

    &__download {
      margin-bottom: $base;
    }

    &__table-wrapper {
      max-width: 100%;
      overflow-x: scroll;
    }
  }
}