@import "../variables";

.tooltip {
  position: relative;

  &, img {
    display: block;
    width: 16px;
    height: 16px;
  }

  &:hover .tooltip__content {
    display: block;
  }

  &__content {
    width: 200px;
    text-align: left;
    display: none;
    position: absolute;
    bottom: calc(100% + 5px);
    left: 50%;
    margin-left: -104px;
    background: $black;
    padding: $base;
    border-radius: 3px;
    color: white;
    font-size: $base * 1.15;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    line-height: 1.2;
    font-weight: normal;
    z-index: 20;

    &:before {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 8px 8px 0 8px;
      border-color: $black transparent transparent;
      content: '';
      display: block;
      position: absolute;
      left: 50%;
      bottom: -8px;
      margin-left: -4px;
    }
  }

  &--bottom {
    .tooltip__content {
      bottom: auto;
      top: calc(100% + 5px);

      &:before {
        border-width: 0 8px 8px 8px;
        border-color: transparent transparent $black;
        bottom: auto;
        top: -8px;
      }
    }
  }
}