@import "../variables";

.warning {
  background: #fe988a;
  border-bottom: 1px solid darken(#fe988a, 8%);
  padding: $base * 2;
  font-size: $base * 1.4;
  font-weight: bold;
  text-transform: uppercase;

  .content-area {
    margin-left: $base;
  }
}