@import "../../variables";

.storage-miners-table {
  &__tipset-hash {
    word-wrap: break-word;
    display: block;
    max-width: 222px;
  }

  &__tipset-hash--consensus {
    color: #13B7B3;
  }
}